{
  "openapi": "3.0.0",
  "info": {
    "title": "Multi-Site Search Engine",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://rui.youxiurui.top"
    }
  ],
  "paths": {
    "/gs/mange": {
      "post": {
        "summary": "Perform a search using various search engines",
        "operationId": "multiSiteSearch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "site": {
                    "type": "string",
                    "description": "The search engine to use"
                  },
                  "query": {
                    "type": "string",
                    "description": "The search query"
                  }
                },
                "required": ["site", "query"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "Response status code"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": { "type": "string" },
                              "size": { "type": "string" },
                              "seeders": { "type": "string" },
                              "leechers": { "type": "string" },
                              "category": { "type": "string" },
                              "hash": { "type": "string" },
                              "magnet": { "type": "string" },
                              "torrent": { "type": "string" },
                              "url": { "type": "string" },
                              "date": { "type": "string" },
                              "downloads": { "type": "string" }
                            }
                          }
                        },
                        "current_page": { "type": "integer" },
                        "total_pages": { "type": "integer" },
                        "time": { "type": "number" },
                        "total": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
